<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>IntelliNews</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/bootstrap/css/style.min.css" rel="stylesheet">
    <link href="/static/bootstrap/css/retina.min.css" rel="stylesheet">
    <link href="/static/bootstrap/css/custom.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/bootstrap/css/blog.css" rel="stylesheet">


  </head>

   <body class = "body-main">
    <div class="blog-masthead">
      <div class="container">
        <nav class="blog-nav">
             <div style="height:60px; margin-top:-14px;" class="blog-nav-item app_name">IntelliNews</div>
             <input class="searchbox blog-nav-item" type="text" id="search_key" placeholder="search"/>
             <button id="blog-nav-item" class="btn btn-primary" style="position:relative;top:-4px;margin-left:-11px;"></i> Search</button>
          <div class="blog-nav-item" style="float:right; font-size:20px">Prem</div>  
        </nav>
      </div>
    </div>

    <div class="container" style="background-color:rgb(240, 235, 235)">
        <div class="doc_viewer" style="background-color:#FBF7F7;padding:30px;border-radius: 5px;">

          <div class="row">
             <div class = "col-xs-7">
                <div class="row">
		           <div class="doc_head"><span> Result for "Sachin" </span></div>
		       </div>


		        <div class ="row">
                   <div>
			         <div class="col-xs-2" >
		            	     <img class="small_tumbnail_image" src="/static/images/bg.jpg" />
			         </div>

			         <div style="padding:25px;"><span>
			             Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</span>
			         </div>
                   </div>
                 </div>

                 <div class ="row">
                   <div>
			         <div class="col-xs-2" >
		            	     <img class="small_tumbnail_image" src="/static/images/bg.jpg" />
			         </div>

			         <div style="padding:25px;"><span>
			             Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</span>
			         </div>
                   </div>
                 </div>



               <div class="row">
		           <div class="doc_head"><span> Result for "Sachin" </span></div>
		       </div>


		        <div class ="row">
                   <div>
			         <div class="col-xs-2" >
		            	     <img class="small_tumbnail_image" src="/static/images/bg.jpg" />
			         </div>

			         <div style="padding:25px;"><span>
			             Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</span>
			         </div>
                   </div>
                 </div>

                 <div class ="row">
                   <div>
			         <div class="col-xs-2" >
		            	     <img class="small_tumbnail_image" src="/static/images/bg.jpg" />
			         </div>

			         <div style="padding:25px;"><span>
			             Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</span>
			         </div>
                   </div>
                 </div>

         
               <div class="row">
		           <div class="doc_head"><span> Result for "Sachin" </span></div>
		       </div>


		        <div class ="row">
                   <div>
			         <div class="col-xs-2" >
		            	     <img class="small_tumbnail_image" src="/static/images/bg.jpg" />
			         </div>

			         <div style="padding:25px;"><span>
			             Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</span>
			         </div>
                   </div>
                 </div>

                 <div class ="row">
                   <div>
			         <div class="col-xs-2" >
		            	     <img class="small_tumbnail_image" src="/static/images/bg.jpg" />
			         </div>

			         <div style="padding:25px;"><span>
			             Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</span>
			         </div>
                   </div>
                 </div>


                <div class="row">
		           <div class="doc_head"><span> Result for "Sachin" </span></div>
		       </div>


		        <div class ="row">
                   <div>
			         <div class="col-xs-2" >
		            	     <img class="small_tumbnail_image" src="/static/images/bg.jpg" />
			         </div>

			         <div style="padding:25px;"><span>
			             Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</span>
			         </div>
                   </div>
                 </div>

                 <div class ="row">
                   <div>
			         <div class="col-xs-2" >
		            	     <img class="small_tumbnail_image" src="/static/images/bg.jpg" />
			         </div>

			         <div style="padding:25px;"><span>
			             Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</span>
			         </div>
                   </div>
                 </div>

             </div><!------------/.leftPane---->


             <div class="col-xs-5">
                <div class="box">
                    <div class="box-header" data-original-title="">
                        <h2><i class="fa fa-list-alt"></i><span class="break"></span>Watched Terms</h2>
                    </div>
                    <div class="box-content">
                        <div class="graph">
                            <div class="timeline" id="viewDiv7-bottom"></div>
                        </div>
                    </div>
                </div>
              

                <div class="box">
                    <div class="box-header" data-original-title="">
                        <h2><i class="fa fa-list-alt"></i><span class="break"></span>Followed Topics</h2>
                    </div>
                    <div class="box-content" id="viewDiv8">
                    </div>
                </div>



                <div class="box">
                    <div class="box-header" data-original-title="">
                        <h2><i class="fa fa-list-alt"></i><span class="break"></span>Suggested Topics</h2>
                    </div>
                    <div class="box-content" id="viewDiv8">
                    </div>
                </div>

                
                <div class="box">
                    <div class="box-header" data-original-title>
                        <h2><i class="fa fa-list-alt"></i><span class="break"></span>Suggested Entities</h2>
                    </div>
                    <div class="box-content">

                    </div>
                </div>


            </div><!---/.rightpane------->


              

          </div><!---/.parentrow------->

         </div>   <!-- /.doc_viewer -->
    </div><!-- /.container -->

    
    
    


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <script src="/static/js/jquery-1.8.3.js"></script>
    <script src="/static/js/underscore.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>

<script>
$('#blog-nav-item').live("click", function(e){
	    e.preventDefault();
	    var q = $('#search_key').val();
        window.location.href = "/search/" + q;
});
    
</script>  
 </body>
 
</html>
