<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>IntelliNews</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/bootstrap/css/style.min.css" rel="stylesheet">
    <link href="/static/bootstrap/css/retina.min.css" rel="stylesheet">
    <link href="/static/bootstrap/css/custom.css" rel="stylesheet">


  </head>

   <body class = "body-main" style="overflow:hidden;">
    <div class="container">
        <div class="row" style="margin-top: 66px;">
            <img src="/static/images/bg.jpg" style="position: absolute;top: 0; height: 100%; width: 100%; z-index: -1;"/>
            <div class=".col-md-6 .col-md-offset-3 bg-layer">
	      <div class="intro_text">IntelliNews</div>
                <input class="textbox" type="text" id="search_key" placeholder="User name"/>
                <input class="textbox" type="text" id="search_key" placeholder="Password" />
                <form action="http://localhost:8888/home">
                <button id="search_button" class="btn btn-primary"><i class="icon-search" style="opacity:0.5;"></i> LogIn</button>
                </form>
            </div>
        </div>>   
    </div><!-- /.container -->

    
    


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <script src="/static/js/jquery-1.8.3.js"></script>
    <script src="/static/js/underscore.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    
  
 </body>
 
</html>
